{% extends "myapp1/base.html" %}

{% block title %}Auriculares{% endblock %}

{% block content %}
<div class="container my-1">
  <div class="row min-vh-100 justify-content-center align-items-center">
    <div class="col-md-10 col-lg-8">
      <h1 class="my-4 text-center">Lista de Auriculares</h1>
      <div class="text-center mb-4">
        <a class="btn btn-primary" href="{% url 'auricular_create' %}">Crear Nuevo Auricular</a>
      </div>
      <div class="list-group">
        {% for auricular in auriculares %}
        <div class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{% url 'auricular_detail' auricular.pk %}" class="btn btn-link">{{ auricular.nombre }}</a>
          <div>
            <a class="btn btn-warning btn-sm mx-1" href="{% url 'auricular_update' auricular.pk %}">Editar</a>
            <a class="btn btn-danger btn-sm" href="{% url 'auricular_delete' auricular.pk %}">Eliminar</a>
          </div>
        </div>
        {% empty %}
        <div class="list-group-item text-center">No hay auriculares disponibles.</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}